footer{
    height: 75px;
    color: black;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h4{
    font-size: x-large;
    margin: 0;
    text-align: center;
}

.img1{
    height: 0.1px;
}

.downloadButton {
    background: #2c5aa0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    transition: background 0.2s ease;
    padding: 8px 16px;
    border-radius: 4px;
}

.downloadButton:hover {
    background: #ff8000;
}