footer{
    height: 70px;
    color: black;
    background-color: peachpuff;

}

h4{
    font-size: x-large;
    margin: 0;
    text-align: center;
}

.img1{
    height: 0.1px;
}
.downloadButton {
    align-self: start;
    background: #2c5aa0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    transition: background 0.2s ease;
}

.downloadButton:hover {
    background: #ff8000;
}